* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.main-symbols {
  position: relative;
  display: flex;
  background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.left-site {
  width: 80%;
  margin: 20px;
  clip-path: polygon(0 0, 34% 0, 100% 100%, 0% 100%);
  max-height: 1080px;
}

.scale {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */

 }
 
 .scale img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
  height: 130px;
  border: 5px solid #616161;
 }
 .scale img:hover {
  transform: scale(2); /* Увеличиваем масштаб */
 }

 .right-site {
  margin-left: auto;
}

.up-item{
  width: 731px;
  margin-right: 50px;
}
.up-item h1 {
  font-size: 90px;
  margin-top: 100px;
  text-align: right;
  color: white;
  text-transform: uppercase;
}

.text-item {
  margin-top: 100px;
  margin-right: 50px;
  background-color: #65a8e0d1;
  clip-path: polygon(55% 0, 100% 0, 100% 48%, 100% 100%, 81% 100%, 49% 100%, 6% 100%, 0 55%, 0 47%, 0 0);
}

.text-item h2 {
  color: white;
  text-align: right;
  padding-top: 70px;
  padding-right: 25px;
  padding-left: 25px;
}

.text-item p {
  color: white;
  text-align: right;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
}

.social {
  display: flex;
}
.social div {
  margin-left: 15px;
  fill: #fff;
}

.social div:hover {
  fill: #65a8e0;
}

.menu {
  overflow-y: visible;
  position: fixed;
  right: -20%;top: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  transition: 0.5s;
  transform: translateX(0%);
}
.menu_active {
  transform: translateX(-100%);
}
.menu-list {
  display: flex;
  align-items: center;
  height: 50%;
  flex-direction: column;
  margin-top: 50%;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 25px;
}
.menu-list a:hover {
  color: #65a8e0;
}
#menu-btn {
  position: absolute;
  left: -50px;
  top: 10px;
}

.constacts {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  margin-bottom: 40px;
}

.phone, .email {
  color: white;
  margin-bottom: 15px;
}

